<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="es.cv.gvcase.viewcategory"
            name="MOSKitt">
      </category>
      <view
            allowMultiple="false"
            category="es.cv.gvcase.viewcategory"
            class="es.cv.gvcase.ide.navigator.view.MOSKittResourceNavigator"
            icon="icons/full/24x24/moskitt-24x24.png"
            id="es.cv.gvcase.ide.navigator.resourceView"
            name="MOSKitt Resource Explorer">
      </view>
      <view
            allowMultiple="false"
            category="es.cv.gvcase.viewcategory"
            class="es.cv.gvcase.ide.navigator.view.MOSKittModelNavigator"
            icon="icons/full/24x24/moskitt-24x24.png"
            id="es.cv.gvcase.ide.navigator.modelView"
            name="MOSKitt Model Explorer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="es.cv.gvcase.ide.navigator.StartUp">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="es.cv.gvcase.ide.navigator.resourceView">
      </viewer>
      <viewerContentBinding
            viewerId="es.cv.gvcase.ide.navigator.resourceView">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="es.cv.gvcase.ide.navigator.filter.TraceResource">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="es.cv.gvcase.ide.navigator.resourceView">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="es.cv.gvcase.ide.navigator.modelView">
      </viewer>
      <viewerActionBinding
            viewerId="es.cv.gvcase.ide.navigator.modelView">
         <includes>
            <actionExtension
                  pattern="es.cv.gvcase.ide.navigator.actions.resource.EditingDomainActions">
            </actionExtension>
            <actionExtension
                  pattern="es.cv.gvcase.ide.navigator.actions.resource.OpenDiagramActions">
            </actionExtension>
            <actionExtension
                  pattern="es.cv.gvcase.ide.navigator.actions.resource.ElementInDiagramsActions">
            </actionExtension>
            <actionExtension
                  pattern="es.cv.gvcase.ide.navigator.actions.resource.DuplicateDiagramActions">
            </actionExtension>
            <actionExtension
                  pattern="es.cv.gvcase.ide.navigator.actions.OpenDiagramInNewEditorActions">
            </actionExtension>
            <actionExtension
                  pattern="es.cv.gvcase.ide.navigator.actions.resource.OpenPropertiesTabActions">
            </actionExtension>
            <actionExtension
                  pattern="es.cv.gvcase.ide.navigator.actions.resource.CreateDiagramActions">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="es.cv.gvcase.ide.navigator.modelView">
         <includes>
            <contentExtension
                  pattern="es.cv.gvcase.ide.navigator.filter.hideDiagrams">
            </contentExtension>
            <contentExtension
                  pattern="es.cv.gvcase.ide.navigator.filter.InDiagram">
            </contentExtension>
            <contentExtension
                  pattern="es.cv.gvcase.ide.navigator.filter.InNoDiagram">
            </contentExtension>
            <contentExtension
                  pattern="es.cv.gvcase.ide.navigator.filter.HideFromContentProvidersFilter">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="es.cv.gvcase.ide.navigator.actions.resource.EditingDomainActions"
            id="es.cv.gvcase.ide.navigator.actions.resource.EditingDomainActions">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.emf.ecore.EObject">
               </adapt>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="es.cv.gvcase.ide.navigator.actions.resource.OpenDiagramActions"
            id="es.cv.gvcase.ide.navigator.actions.resource.OpenDiagramActions">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.gmf.runtime.notation.Diagram">
               </adapt>
            </or>
         </enablement>
      </actionProvider>
      <commonFilter
            activeByDefault="false"
            class="es.cv.gvcase.ide.navigator.treeviewers.filter.HideDiagramsViewerFilter"
            description="Hides diagrams"
            id="es.cv.gvcase.ide.navigator.filter.hideDiagrams"
            name="Hide diagrams">
      </commonFilter>
      <commonFilter
            activeByDefault="false"
            class="es.cv.gvcase.ide.navigator.treeviewers.filter.InDiagramViewerFilter"
            description="Hides elements that are not in the diagram"
            id="es.cv.gvcase.ide.navigator.filter.InDiagram"
            name="Show only in diagram">
      </commonFilter>
      <actionProvider
            class="es.cv.gvcase.ide.navigator.actions.resource.ElementInDiagramsActions"
            id="es.cv.gvcase.ide.navigator.actions.resource.ElementInDiagramsActions">
         <enablement>
            <and>
               <adapt
                     type="org.eclipse.emf.ecore.EObject">
               </adapt>
               <not>
                  <adapt
                        type="org.eclipse.gmf.runtime.notation.View">
                  </adapt>
               </not>
            </and>
         </enablement>
      </actionProvider>
      <commonFilter
            activeByDefault="true"
            class="es.cv.gvcase.ide.navigator.treeviewers.filter.HideTraceResources"
            description="Hide *.gvtrace resources which store traces"
            id="es.cv.gvcase.ide.navigator.filter.TraceResource"
            name="Hide trace resources">
      </commonFilter>
      <actionProvider
            class="es.cv.gvcase.ide.navigator.actions.resource.DuplicateDiagramActions"
            id="es.cv.gvcase.ide.navigator.actions.resource.DuplicateDiagramActions">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.gmf.runtime.notation.View">
               </adapt>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="es.cv.gvcase.ide.navigator.actions.OpenDiagramInNewEditorActions"
            id="es.cv.gvcase.ide.navigator.actions.OpenDiagramInNewEditorActions">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.gmf.runtime.notation.Diagram">
               </adapt>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="es.cv.gvcase.ide.navigator.actions.resource.OpenPropertiesTabActions"
            id="es.cv.gvcase.ide.navigator.actions.resource.OpenPropertiesTabActions">
         <enablement>
            <and>
               <adapt
                     type="org.eclipse.emf.ecore.EObject">
               </adapt>
               <not>
                  <adapt
                        type="org.eclipse.gmf.runtime.notation.View">
                  </adapt>
               </not>
            </and>
         </enablement>
      </actionProvider>
      <commonFilter
            activeByDefault="false"
            class="es.cv.gvcase.ide.navigator.treeviewers.filter.InNoDiagramViewerFilter"
            description="Show only elements that are not in any diagram"
            id="es.cv.gvcase.ide.navigator.filter.InNoDiagram"
            name="Elements without diagram">
      </commonFilter>
      <navigatorContent
            contentProvider="es.cv.gvcase.ide.navigator.provider.FakeContentProvider"
            id="es.cv.gvcase.ide.navigator.fakeNavigatorContent"
            labelProvider="es.cv.gvcase.ide.navigator.provider.FakeContentProvider"
            name="Fake Navigator Content">
         <dropAssistant
               class="es.cv.gvcase.ide.navigator.dnd.NavigatorDropAdapterAssistant"
               id="es.cv.gvcase.ide.navigator.eObjectDropAssistant">
            <possibleDropTargets>
               <adapt
                     type="org.eclipse.emf.ecore.EObject">
               </adapt>
            </possibleDropTargets>
         </dropAssistant>
         <triggerPoints>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IWorkspaceRoot">
               </adapt>
               <adapt
                     type="org.eclipse.emf.ecore.resource.Resource">
               </adapt>
               <adapt
                     type="es.cv.gvcase.ide.navigator.provider.NavigatorRootItem">
               </adapt>
               <adapt
                     type="es.cv.gvcase.ide.navigator.provider.NavigatorLoadedResourcesItem">
               </adapt>
               <adapt
                     type="org.eclipse.emf.ecore.EObject">
               </adapt>
               <adapt
                     type="es.cv.gvcase.ide.navigator.provider.PackagingNode">
               </adapt>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <adapt
                     type="org.eclipse.emf.ecore.EObject">
               </adapt>
               <adapt
                     type="org.eclipse.emf.ecore.resource.Resource">
               </adapt>
               <adapt
                     type="es.cv.gvcase.ide.navigator.provider.NavigatorLoadedResourcesItem">
               </adapt>
               <adapt
                     type="es.cv.gvcase.ide.navigator.provider.PackagingNode">
               </adapt>
            </or>
         </possibleChildren>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            class="es.cv.gvcase.ide.navigator.treeviewers.filter.HideFromContentProviderFilter"
            description="Hides elements used for configuration and not user editable"
            id="es.cv.gvcase.ide.navigator.filter.HideFromContentProvidersFilter"
            name="Hide configuration elements">
      </commonFilter>
      <actionProvider
            class="es.cv.gvcase.ide.navigator.actions.resource.CreateDiagramActions"
            id="es.cv.gvcase.ide.navigator.actions.resource.CreateDiagramActions">
         <enablement>
            <and>
               <adapt
                     type="org.eclipse.emf.ecore.EObject">
               </adapt>
               <not>
                  <adapt
                        type="org.eclipse.gmf.runtime.notation.View">
                  </adapt>
               </not>
            </and>
         </enablement>
      </actionProvider>
      <actionProvider
            class="es.cv.gvcase.ide.navigator.actions.resource.OpenFileActionProvider"
            id="org.eclipse.ui.navigator.resources.MOSKittOpenActions"
            overrides="org.eclipse.ui.navigator.resources.OpenActions">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IFile">
               </adapt>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.emf.search.ui.openDiagramParticipants">
      <diagramParticipant
            id="http://www.eclipse.org/gmf/runtime/1.0.1/notation"
            openDiagramHandler="es.cv.gvcase.ide.navigator.search.handlers.ElementInDiagramOpenHandler">
      </diagramParticipant>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="es.cv.gvcase.ide.navigator.search.iu.pages.ElementInDiagramSearchResultPage"
            id="es.cv.gvcase.ide.navigator.search.ui.resultPage"
            label="Element in diagram search result page"
            searchResultClass="es.cv.gvcase.ide.navigator.search.results.ElementInDiagramSearchResult">
      </viewPage>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="es.cv.gvcase.ide.navigator.provider.NoViewLabelDecorator"
            id="es.cv.gvcase.ide.navigator.noViewDecorator"
            label="Elements without any view"
            lightweight="true">
         <enablement>
            <objectClass
                  name="org.eclipse.emf.ecore.EObject">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="es.cv.gvcase.ide.navigator.modelView">
         <includes>
            <contentExtension
                  pattern="es.cv.gvcase.ide.navigator.fakeNavigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="es.cv.gvcase.ide.navigator.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="es.cv.gvcase.mdt.common.general"
            class="es.cv.gvcase.ide.navigator.preferences.NavigatorPreferencePage"
            id="es.cv.gvcase.ide.navigator.preferences.NavigatorPreferencePage"
            name="Resource Navigator">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
       <editor
             class="es.cv.gvcase.ide.navigator.part.MOSKittErrorEditor"
             id="es.cv.gvcase.MOSKittErrorEditor"
             name="MOSKitt Error Editor">
   </editor>
       <editor
             class="es.cv.gvcase.ide.navigator.part.MOSKittBrokenReferencesEditor"
             id="es.cv.gvcase.MOSKittBrokenReferencesEditor"
             name="MOSKitt Broken References Editor">
       </editor>
   </extension>

</plugin>
