<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="es.cv.gvcase.fefem.common.utils.StyledTextCCPHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="org.eclipse.jface.text.ITextSelection">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="es.cv.gvcase.fefem.common.utils.StyledTextCCPHandler"
            commandId="org.eclipse.ui.edit.cut">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="org.eclipse.jface.text.ITextSelection">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="es.cv.gvcase.fefem.common.utils.StyledTextCCPHandler"
            commandId="org.eclipse.ui.edit.paste">
         <activeWhen>
            <with
                  variable="selection">
               <or>
                  <instanceof
                        value="org.eclipse.jface.text.ITextSelection">
                  </instanceof>
                  <instanceof
                        value="es.cv.gvcase.fefem.common.utils.ControlSelection">
                  </instanceof>
               </or>
            </with>
         </activeWhen>
      </handler>
   </extension>

</plugin>
