<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="es.cv.gvcase.ide"
            name="MOSKitt">
      </category>
      <wizard
            category="es.cv.gvcase.ide"
            class="es.cv.gvcase.ide.core.wizards.NewGvCASEProjectWizard"
            finalPerspective="es.cv.gvcase.ide.core.perspective"
            icon="icons/full/24x24/moskitt-24x24.png"
            id="es.cv.gvcase.ide.core.newprojectwizard"
            name="MOSKitt Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="es.cv.gvcase.ide.perspectives.GvCASEPerspective"
            icon="icons/full/24x24/moskitt-24x24.png"
            id="es.cv.gvcase.ide.core.perspective"
            name="MOSKitt">
      </perspective>
      <perspective
            class="es.cv.gvcase.ide.perspectives.GvMetricaPerspective"
            icon="icons/full/24x24/gv_24.png"
            id="es.cv.gvcase.ide.core.GvMetricaPerspective"
            name="GvMetrica">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            icon="icons/full/ovr16/gv.png"
            id="es.cv.gvcase.ide.core.decorator"
            label="Resource Decorator"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IProject">
               </objectClass>
               <objectState
                     name="projectNature"
                     value="es.cv.gvcase.ide.core.gvCASEProjectNature">
               </objectState>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="es.cv.gvcase.ide.core.gvCASEActionSet"
            label="MOSKitt"
            visible="true">
         <menu
               id="es.cv.gvcase.ide.core.menu.mainmenu"
               label="MOSKitt">
            <separator
                  name="es.cv.gvcase.ide.core.menu.mainmenu.mainseparator">
            </separator>
            <separator
                  name="es.cv.gvcase.ide.core.menu.mainmenu.additions">
            </separator>
         </menu>
      </actionSet>
   </extension>
   <extension
         id="gvCASEProjectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="es.cv.gvcase.ide.core.natures.GvCASEProjectNature">
         </run>
      </runtime>
   </extension>

</plugin>
